<html>
  <head>
<mecharset="utf-8">
<title>biMusic</title>
<link href="sliderstyle.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
 <%= stylesheet_link_tag 'bootstrap', 'bootstrap-theme', 'web' %>
    <%= javascript_include_tag 'jquery', 'application' %>
    <%= javascript_include_tag 'jquery-ujs', 'application' %>
    <%= javascript_include_tag 'bootstrap.min', 'jquery', 'jquery-ujs' %>
    <meta charset="utf-8">
    <title></title>
    <title></title>


<script>  


//$("#news").click(function(){$("#comments").show();});

jQuery(document).ready(function ($) {


</script>
</head>
<body   background=http://www.ihdimages.com/wp-content/uploads/2014/10/city_at_night_wallpaper_background.jpg>

  


</style>
</head>
<body>

<!-- begin wwww.htmlcommentbox.com -->

<!-- end www.htmlcommentbox.com -->

  <div id="header">
     <h1>bMusic.com</h1>
     <div id="share-buttons">
    
    <!-- Buffer -->
    <a href="https://bufferapp.com/add?url=https://simplesharebuttons.com&amp;text=Simple Share Buttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/buffer.png" alt="Buffer" />
    </a>
    
    <!-- Digg -->
    <a href="http://www.digg.com/submit?url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/diggit.png" alt="Digg" />
    </a>
    
    <!-- Email -->
    <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>
 
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>
    
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a>
    
    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
        <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" />
    </a>
    
    <!-- Print -->
    <a href="javascript:;" onclick="window.print()">
        <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
    </a>
    
    <!-- Reddit -->
    <a href="http://reddit.com/submit?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
    </a>
    
    <!-- StumbleUpon-->
    <a href="http://www.stumbleupon.com/submit?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/stumbleupon.png" alt="StumbleUpon" />
    </a>
    
    <!-- Tumblr-->
    <a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
    </a>
     
    <!-- Twitter -->
    <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>
    
    <!-- VK -->
    <a href="http://vkontakte.ru/share.php?url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/vk.png" alt="VK" />
    </a>
    
    <!-- Yummly -->
    <a href="http://www.yummly.com/urb/verify?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/yummly.png" alt="Yummly" />
    </a>

</div>

      <div id="tfheader">
    <form id="tfnewsearch" method="get" action="http://www.google.com">
            <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
    </form>
  <div class="tfclear"></div>
  </div>
</div>
     
   <div id='botones'>
     <ul id="buttons">
        <li style="position:relative;left:-320px;"><b href="#">HOME</b></li>
        <li style="position:relative;left:-320px;"><b href="#">ABOUT</b></li>
        <li style="position:relative;left:-320px;"><b href="#">JOIN</b></li>
        <li style="position:relative;left:-320px;"><b href="#">NEWS</b></li>
        <li style="position:relative;left:-320px;"><b href="#">LAST UPLOADS</b></li>
        <li style="position:relative;left:-320px;"><b href="#">MOST VIRALS</b></li>
        <li id='wena' style="-moz-border-radius: 1em 4em 0em 0em;
border-radius: 0em 0em 4em 1em;position:relative;left:50px;"><b href="#">LOGIN</b></li>
     </ul>
   
  </div>

<div id='voted'>
    <div class="slider"> 
        <input type="radio" id="control1" name="controls" checked="checked"/>
        <label for="control1"></label>
        <input type="radio" id="control2" name="controls"/>
        <label for="control2"></label>
        <input type="radio" id="control3" name="controls"/>
        <label for="control3"></label>
        <input type="radio" id="control4" name="controls"/>
        <label for="control4"></label>
        <input type="radio" id="control5" name="controls"/>
        <label for="control5"></label>
        <div class="sliderinner">
            <ul>
                <li>
                    <img src="http://img.informador.com.mx/biblioteca/imagen/370x277/1314/1313260.jpg" style='width:100%;height:100%;' />
                    <div class="description">
 
                        <div class="description-text">
                            <h2>kanye west las CAGO</h2>
                            <p>kanye west dejo la mansa patada en el ultimo concierto che</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="http://img.informador.com.mx/biblioteca/imagen/370x277/1314/1313464.jpg" style='width:100%;height:100%;'/>
                    <div class="description">
 
                        <div class="description-text">
                            <h2>puta la mina fea wn</h2>
                            <p>no es tan fea pero las cantantes son ricas generalmente.. enverdad es mas mala que la puta</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="images/3.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            <h2>Slideshow Title 3</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="images/4.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            <h2>Slideshow Title 4</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="images/5.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            <h2>Slideshow Title 5</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

  </div> 


<div id='hola'>
</div>




  








</body>

</html>